@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    padding-bottom: 15px;
}

h2 {
    font-size: 46px;
    line-height: 54px;
}

h4 {
    font-size: 20px;
    padding-bottom: 15px;
}

h6 {
    font-weight: 700;
    color: #000;
    font-size: 12px;
}

p {
    font-size: 16px;
    margin: 15px 0 20px 0;


}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14;
    font-weight: 600;
    padding: 15px 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 103, 209);
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    border: none;
    transition: 0.2s;
}

body {
    width: 100%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: rgb(252, 238, 255);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
    transition: opacity 0.3s ease;
    /* Dodane przejście dla płynniejszego efektu */
}

#header.transparent {
    background-color: rgba(255, 255, 255, 0);
    /* Transparent background color when scrolling down */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    /* Ensure the header stays on top of other elements */
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
    /* Dodane przejście dla płynniejszego efektu */
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar.transparent {
    background-color: rgba(255, 255, 255, 0);
    /* Transparent background color when scrolling down */
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}


#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: 0.3s ease;
}


#navbar li a.active,
#navbar li a:hover {
    color: blueviolet;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: blueviolet;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#hero {
    background-image: url("img/hero4.png");
    background-size: cover;
    height: 90vh;
    width: 100%;
    background-position: top 25% right 100%;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: right;
}

#hero h4 {
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
    display: inline-block;
}

#hero h2 {
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
    display: inline-block;
}

#hero h1 {
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
    display: inline-block;
}

#hero button {
    background-image: url("img/button.png");
    background-color: transparent;
    width: 150px;
    height: 60px;
    color: white;
    display: flex;
    background-size: cover;
    border: 0;
    padding: 15px;
    cursor: pointer;
    font-weight: 700;

}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 30px rgba(133, 23, 115, 0.192);
    border: 1Px solid pink;
    border-radius: 4px;
    margin: 15px 0;
    transition: 0.2s ease;
}

#feature .fe-box:hover {
    box-shadow: 20px 20px 30px rgba(255, 172, 248, 0.397);
}

#feature .fe-box h6 {
    padding: 9px 8px 6px 8px;
    color: pink;
    line-height: 1;
    border-radius: 4px;
    color: white;
    background-color: pink;
    display: inline-block;
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box:nth-child(2) h6 {
    background-color: #5b9737;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #3975cf;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #9e1e1e;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #ad9133;
}

#feature .fe-box:nth-child(6) h6 {
    background-color: #7a259c;
}

.spacer {
    width: 30%;
    /* Dostosuj szerokość spaceru do szerokości kolumny */
    margin: 10px 0;
    box-sizing: border-box;
}

/* Ustawienie kontenera z trzema kolumnami */
#product1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* Kolumny produktów */
#product1 .pro {
    width: 30%;
    min-width: 300px;
    padding: 10px 15px;
    border: 2px solid #7a259c;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(133, 23, 115, 0.192);
    margin: 20px 0;
    transition: box-shadow 0.3s;
    /* Dodajemy efekt przejścia */
    cursor: pointer;
}

#product1 .pro:hover {
    position: relative;
}

/* Dodaj efekt ramki dla produktów po najechaniu myszą */
#product1 .pro:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #7a259c;
    /* Kolor ramki */
    border-radius: 20px;
    pointer-events: none;
    /* Zapobiega ponownemu wywołaniu hover na pseudoelemencie */
}


/* Wyśrodkowanie elementów w kolumnach */
#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;

}

/* Reszta stylów dla produktów */
#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .desc {
    text-align: start;
    padding: 10px 0;
    position: relative;
}

#product1 .pro .desc span {
    text-align: start;
    color: rgb(196, 71, 179);
    font-size: 20px;
}

#product1 .pro .desc h5 {
    text-align: start;
    color: black;
    font-size: 14px;
}

#product1 .pro .desc i {
    text-align: start;
    font-size: 12px;
    color: rgb(207, 0, 0);
}

#product1 .product1-title {
    text-align: center;
}


.product-price {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #8a27b1;
}

#product1 .pro .cart {
    font-family: "Font Awesome 6 Free";
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #efc5ff;
    color: #7a259c;
    border: 1px solid rgb(255, 255, 255);
    position: relative;
    /* Zmienione na relative */
    top: 30%;
    left: 50%;
    transform: translate(-50%, -20%);
    padding: 5px;
}

#product1 .pro .cart::before {
    content: "\f07a";
    font-size: 1.5em;
    color: #7a259c;
    position: absolute;
    /* Dodane absolutne pozycjonowanie */
    top: 50%;
    /* Wycentrowanie w pionie */
    left: 48%;
    /* Wycentrowanie w poziomie */
    transform: translate(-50%, -50%);
    /* Wycentrowanie zarówno w pionie, jak i poziomie */

}

#product1 .pro .cart:hover::before {
    animation: blink 0.5s infinite alternate;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(img/banner/b1.png);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    font-size: 16px;
    -webkit-text-stroke: 0.5px rgb(255, 191, 244);

}

#banner h2 {
    padding: 10px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    -webkit-text-stroke: 0.2px rgb(255, 183, 243);
}

#banner h2 span {
    color: white;
}

#banner button:hover {
    background: white;
    color: pink;
}

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sm-banner-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#sm-banner .banner-box,
#sm-banner .banner-box2 {
    flex-basis: calc(50% - 15px);
    /* Ustawienie szerokości na 50% z odstępem 15px */
    height: 50vh;
    overflow: hidden;
    margin-bottom: 30px;
    /* Dodane odstępy między bannerami */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Wyśrodkowanie treści */
}

#sm-banner .banner-box::before,
#sm-banner .banner-box2::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

#sm-banner .banner-box::before {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/banner/b17.jpg);
}

#sm-banner .banner-box2::before {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/banner/b10.jpg);
}

#sm-banner h4,
#sm-banner h2,
#sm-banner span,
button.white {
    color: white;
}

#sm-banner h4 {
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2 {
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span {
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

button.white {
    font-size: 14;
    font-weight: 600;
    padding: 15px 30px;
    background-color: rgb(255, 103, 209);
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    border: none;
    transition: 0.2s;
}

#sm-banner .banner-box:hover button {
    background: white;
    color: rgb(255, 103, 209);
    border: 1px solid rgb(255, 103, 209);
}

#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/banner/b7.jpg);
    width: calc(33.33% - 20px);
    /* Ustawienie szerokości na jedną trzecią szerokości rodzica z odstępem */
    margin: 0 10px 20px;
    /* Dodane marginesy dla lepszego rozmieszczenia */
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
}

#banner3 h3 {
    color: pink;
    font-weight: 800;
    font-size: 15px;
}

#banner3 h2 {
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 30px;
}

#banner3 .banner-box2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/banner/b4.jpg);
}

#banner3 .banner-box3 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/banner/b18.jpg);
}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/banner/b14.png);
    background-repeat: repeat;
    background-position: 20% 1%;
    background-color: #000;
}

#newsletter h4 {
    color: white;
    font-weight: 600;
    font-size: 30px;
}

#newsletter p {
    color: white;
    font-weight: 300;
    font-size: 15px;
}

#newsletter span {
    color: rgb(236, 125, 218);
    font-weight: 800;
    font-size: 15px;
    text-decoration: underline;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 15px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 30px;
    outline: none;
}

#newsletter button {
    background: #ce1d84;
    color: white;
    margin-top: 10px;
}

#newsletter button:hover {
    background: white;
    color: #ce1d84;
}

#newsletter .form {
    width: 40%;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col {
    flex: 0 0 calc(25% - 20px);
    margin-bottom: 20px;

}

.copywrite {
    flex-basis: 100%;
    text-align: center;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 12px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #000;
    margin-bottom: 10px;
    position: relative;
    transition: color 0.3s;

}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #000000;
    padding-right: 4px;
    cursor: pointer;
    transition: color 0.3s;
    /* Dodaj efekt przejścia koloru */
}

footer .follow i:hover {
    color: #ce1d84;
}

footer a:hover {
    color: #ce1d84;
}


#page-header {
    background-image: url(img/banner/b1.jpg);
    width: 100%;
    height: 30vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2 {
    color: rgb(105, 31, 56);
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
}

#page-header p {
    color: white;
}

#page {
    text-align: center;
}

#page a {
    text-decoration: none;
    background-color: #ce1d84;
    padding: 15px 20px;
    border-radius: 80px;
    color: white;
    font-weight: 600;
}

#page a i {
    font-size: 16px;
    font-weight: 600;
}

#description .single-image {
    width: 40%;
    margin-right: 50px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#description .details {
    width: 50%;
}

#description {
    display: flex;
    margin: top 20px;
}

#description .details h4 {
    padding: 40px 0 20px 0;
}

#description .details h2 {
    font-size: 26px;
}

#description .details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#description .details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    margin-right: 10px;
}

#description .details span {
    line-height: 25px;
}

.product-notes {
    font-style: italic;
    color: #888;
    padding: 10px;
}

.product-reviews {
    margin-top: 20px;
}

.product-reviews h3 {
    color: #333;
}

.product-reviews ul {
    list-style: none;
    padding: 10px;
}

.product-reviews li {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.product-reviews li strong {
    display: block;
    color: #555;
}

.product-reviews li span {
    color: #777;
}

.star-icon {
    display: flex;
    /* Ustawienie kontenera na flexbox */
}

.star-icon i {
    margin-right: 5px;
    /* Odstęp między gwiazdkami */
    cursor: pointer;
    color: #000;
}

.star-icon i:hover {
    background: linear-gradient(to left, gold 100%, black 50%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.form-review button:hover {
    background: white;
    color: #ce1d84;
}

.details button:hover {
    background: white;
    color: #ce1d84;
}

.product-notes {
    font-style: italic;
    color: #888;
    padding: 10px;
}

.product-reviews {
    margin-top: 20px;
}

.product-reviews h3 {
    color: #333;
}

.product-reviews ul {
    list-style: none;
    padding: 10px;
}

.product-reviews li {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.product-reviews li strong {
    display: block;
    color: #555;
}

.product-reviews li span {
    color: #777;
}

.form-review button:hover {
    background: white;
    color: #ce1d84;
}

.star-icon i {
    margin-right: 10px;
    cursor: pointer;
    color: transparent;
    color: gold;
}

.star-icon i::before {
    left: -100%;
    background: linear-gradient(to left, rgb(0, 0, 0) 100%, gold 50%);
    background-clip: text;
    -webkit-background-clip: text;
}

.star-icon i::after {
    left: 100%;
    background: linear-gradient(to right, black 100%, gold 50%);
    background-clip: text;
    -webkit-background-clip: text;
}

.star-icon i:hover~i::before,
.star-icon i:hover~i::after {
    color: transparent;
}

.product-notes {
    font-style: italic;
    color: #888;
    padding: 10px;
}

.product-reviews {
    margin-top: 20px;
}

.product-reviews h3 {
    color: #333;
}

.product-reviews ul {
    list-style: none;
    padding: 10px;
}

.product-reviews li {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.product-reviews li strong {
    display: block;
    color: #555;
}

.product-reviews li span {
    color: #777;
}


.form-review button:hover {
    background: white;
    color: #ce1d84;
}

#page-header.blog-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), git url(img/banner/b21.png);
}

#page-header p {
    color: rgb(255, 255, 255);
    font-weight: 600;
}

#blog {
    padding: 150px 150px 0 150px;
}

#blog .blog-box {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 90px;
}

#blog .blog-img {
    width: 50%;
    margin-right: 40px;
}

#blog img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.blog-details button .normal {
    display: flex;
}

.blog-details button:hover {
    background: white;
    color: #ce1d84;
}


.animated-text-wrapper .animated-text li {
    animation: slide 28s steps(14) infinite;
    color: #c557c0;
    font-size: 23px;
    line-height: 36px;
    list-style: none;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 0
}

.animated-text-wrapper .animated-text li span {
    font-weight: 700;
    position: relative;
}

.animated-text-wrapper .animated-text li span:after {
    animation: typing 2s steps(25) infinite;
    background-color: #ffe0fb;
    border-left: 3px solid #c557c0;
    content: "";
    height: 120%;
    left: 0;
    position: absolute;
    width: 100%;
}


.animated-text-wrapper .animated-text {
    height: 36px;
    overflow: hidden;
}

.animated-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes typing {
    0% {
        left: 0
    }

    75% {
        left: 100%
    }

    to {
        left: 100%
    }
}

@keyframes slide {
    to {
        top: -504px
    }
}

.details-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #ffe0fb;
    background-image: url('img/background-pattern (1).png');
    padding: 100px 0;
    width: 100%;
    margin: -100px -20px -20px;
    text-align: center;
    position: relative;
}

#about-app {
    text-align: center;
}

#about-app .video {
    width: 50%;
    height: 100%;
    margin: 30px auto 0 auto;
}

#about-app .video video {
    width: 100%;
    height: 100%;
}

#page-header h2 {
    color: #ffe0fb;
}

#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.details {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff0fe;
    border-radius: 10px;
}

.details h6 {
    margin-bottom: 10px;
}

.details p {
    margin-bottom: 15px;
}

.contact-info {
    margin-top: 20px;
}

.contact-info a {
    margin-bottom: 10px;
}

.contact-info p {
    margin-bottom: 15px;
}

.contact-info a span {
    font-weight: bold;
    color:#ce1d84;
}

a:-webkit-any-link {
    color:#ce1d84;
    cursor: pointer;
}

.contact-info a:hover {
    color: #ce1d84;
}

.map{
    width: 50%;
}
.map iframe{
    width: 100%;
}
#page-header.about-header {
    background: url("img/about/banner.png.avif");
}
#page-header.contact-header{
    background: url("img/banner/header.png");
    background-size: cover;
    background-position-Y: 20%;
}
@keyframes typing1 {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}
#contact-form {
    position: relative;
}

.form-container {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 2;
}

#contactIcon button {
    background-color: #ffc3ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


#myForm {
    max-width: 100%;
    margin: 50px auto 0;
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    z-index: 4;
}

#myForm button {
    width: 100%;
    background-color: #ffc3ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#myForm input,
#myForm select,
#myForm textarea {
    width: calc(100% - 50px);
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    color: #555;
}

.g-recaptcha {
    margin: 10px 0;
}

#myForm p {
    color: #000;
}

#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}
#cart table img{
    width: 70px;
}

#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}
#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}
#cart table thead{
    border: 1px solid pink;
    border-left: none;
    border-right: none;
}
#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px;
}
#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}
#cart table tbody tr td{
    padding-top: 15px;
}
#cart table tbody td{
    font-size: 13px;
}
#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon {
    max-width: 600px; 
    padding: 20px; 
}

#coupon h3 {
    margin-bottom: 15px; 
}

#coupon input {
    padding: 10px;
    outline: none;
    width: 70%;
    margin-right: 10px;
    border: 1px solid pink;
    display: inline-block;
    box-sizing: border-box; 
}

#coupon button {
    padding: 10px 20px;
    margin-bottom: 30px;
    display: inline-block;
    background-color: #ff69b4; 
    color: #fff; 
    cursor: pointer;
}

#coupon button:hover {
    background-color: white;
    color: #ff69b4; 
}

#Subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid pink;
    padding: 30px;
    box-sizing: border-box;
}
#Subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
#Subtotal table td{
    width: 100%;
    border: 1px solid pink;
    padding: 10px;
    font-size: 13px;
}
#Subtotal h3{
     margin-bottom: 15px;
}

#Subtotal button {
    display: inline-block;
    background-color: #ff69b4; 
    color: #fff; 
    cursor: pointer;
}

#Subtotal button:hover {
    background-color: white;
    color: #ff69b4; /* Kolor tła dla efektu hover */
}

#cart{
    overflow-x:auto;
}


#RegForm {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#RegForm h2 {
    text-align: center;
    color: #333;
}

#RegForm form {
    display: flex;
    flex-direction: column;
}

#RegForm label {
    margin-bottom: 8px;
    color: #333;
}

#RegForm input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#RegForm button {
    background-color: #c22f91;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#RegForm button:hover {
    background-color: #ffffff;
    color: #c22f91;
}

#RegForm p {
    text-align: center;
    margin-top: 16px;
    color: #c22f91;
}

#RegForm a {
    color: #c22f91;
    text-decoration: none;
    font-weight: bold;
}

#RegForm a:hover {
    text-decoration: underline;
}



@media screen and (min-width: 768px) {
    #contactIcon {
        display: none; 
    }

    #contactFormContainer {
        display: block !important; 
    }
}

@media screen and (max-width: 767px) {
    #Subtotal{
        width: 100%;
        margin-bottom: 30px;
        border: 1px solid pink;
        padding: 30px;
        box-sizing: border-box;
    }


    #cart-add{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;
    }

    #contactFormContainer {
        display: none; 
    }


    #myForm {
        max-width: 100%; 
        margin: 50px auto; 
        padding: 20px;
        font-size: 16px;
        
    }

    #contactIcon button {
        background-color: #ffc3ff;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}
#registrationSuccessMessage {
    font-size: 18px; 
    color: magenta; 
    text-align: center; 
    margin-top: 10px; 
  }


@media screen and (max-width: 767px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background: url(img/navbarmobile.jpg);
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.06);
        padding: 80px 0 0 10px;
        transition: right 0.2s ease;
    }

    #navbar.active {
        right: 0px;
        transition: right 0.2s ease;

    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #000;
        font-size: 24px;
        padding: -50px;
        margin-left: 30px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: black;
        font-size: 24px;
        cursor: pointer;
        transition: right 0.2s;
    }

    #lg-bag {
        display: none;
    }

    #feature {
        justify-content: center;

    }

    #feature .fe-box {
        margin: 15px 15px;
    }

    #product1 .pro-container {
        justify-content: center;
    }

    #product1.pro {
        margin: 15px;
    }

    #banner {
        height: 30vh;
    }

    #sm-banner .banner-box {
        min-width: 100%;
        height: 100vh;
        padding: 30px;
    }

    #banner3 {
        padding: 0 40px;
    }

    #banner3 .banner-box {
        width: 100%;
        justify-content: center;
      
    }

    #newsletter .form {
        width: 95%;
    }

    #blog {
        padding: 100px 50Spx 0 20px;
    }

    #blog .blog-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        position: relative;
        padding-bottom: 10px;
    }

    #blog .blog-img {
        width: 100%;
        margin-bottom: 30px;
        margin-right: 0px;
    }

    #description {
        display: flex;
        flex-direction: column;

    }

    #description .single-image {
        width: 100%;
        margin-right: 0;
    }

    #description .details {
        width: 100%;
        margin-top: 20px;
    }

    #blog .blog-details {
        width: 100%;
    }
    #contact-details {
        flex-direction: column;
    }

    .details,
    .map {
        width: 100%;
        padding-right: 0;
    }
    
    .details {
        order: -1; 
    }
    .map iframe{
        width: 100%;
        height: 200px;
    }

}



@media (max-width: 477px) {
    .section-p1 {
        padding: 20px;
    }

    #header {
        padding: 10px 30px;
    }

    h4 {
        margin-top: 20px;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 32px;
    }

    #hero {
        padding: 0px 20px;
        background-position: 55%;
    }

    #feature {
        justify-content: space-between;
    }

    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
    }

    #product .pro {
        width: 100%;
    }

    #banner {
        height: 40vh;
    }

    footer.copyright {
        text-align: start;
    }

    #banner3 .banner-box {
        width: 100%;
     
    }

    #description {
        display: flex;
        flex-direction: column;

    }

    #description .single-image {
        width: 100%;
        margin-right: 0;
    }

    #description .details {
        width: 100%;
        margin-top: 20px;
    }

    #blog {
        padding: 100px 20px 0 20px;
    }

    #blog .blog-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: relative;
        padding-bottom: 10px;
    }

    #blog .blog-img {
        width: 100%;
        margin-bottom: 30px;
        margin-right: 0px;
    }

    #blog .blog-details {
        width: 100%;
    }

    .details-box {
        align-items: center;
        display: flex;
        background-color: #ffe0fb;
        background-image: url('img/background-pattern (1).png');
        padding: 100px 0;
        width: 112%;
        margin: -100px -20px -20px;
        text-align: center;
        position: relative;
        margin-top: auto;
    }
    #contact-details {
        flex-direction: column;
    }

    .details,
    .map {
        width: 100%;
        padding-right: 0;
    }
    
    .details {
        order: -1; 
    }
    .map iframe{
        width: 100%;
        height: 200px;
    }
}